<header class="header">
    <div class="header__top">
        <div class="header__top-inner">
            <div class="container">
                <div class="header__body">
                    <div class="header__logo">
                        <a href="/" class="header__logo-link">
                            <picture class="header__logo-figure">
                                <source srcset="/images/logo/icon.svg" media="(max-width: 767.98px)">
                                <img class="header__logo-img" src="/images/logo/logo.png" height="48" alt="Logo">
                            </picture>
                        </a>
                    </div>
                    <div class="header-side">
                        <nav class="header__nav">

                            <ul class="header__nav-list">
                                <li class="header__nav-item">
                                    <a class="header__nav-link -empty" href="/">GH GoRestCrudPanel</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="header-burger-menu--wrapper d-xl-none">
                            <button class="header-burger-menu">
                                <span class="header-burger-menu--line"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__mobile-menu">
            <ul class="header__mobile-menu-list">                
                <li class="header__mobile-menu-item">
                    <h5 class="header__mobile-menu-title">Anasayfa</h5>
                    
                </li>   
            </ul>
        </div>
        <mark class="header__darkarea">
        </mark>
    </div>      

    <!-- Desktop Menu -->
    <div class="header__main">
        <div class="container">
            <div class="header__body">
                
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-item">
                            <a class="header__nav-link -empty" href="/">
                                Anasayfa
                            </a>
                        </li>                                                                   
                    </ul>
                </nav>
            </div>
        </div>
        <div id="header__nav-curtain" class="header__nav-curtain"></div>
    </div>
</header>
