<div class="header__top-inner position-relative overflow-hidden">
    <img src="/images/logo.png" alt="Tanıtım Görseli" class="w-100 img-fluid object-fit-cover" style="max-height: 320px;">

    <div class="container position-absolute top-50 start-50 translate-middle text-white text-center">
        <h1 class="display-5 fw-bold">Güvence Hesabı Etkinlik Yönetimi</h1>
        <p class="lead">Etkinliklerinizi yönetin, katılımcılarınızı takip edin.</p>
    </div>
</div>