<section class="page-header">
    <div class="container">
        <div class="page-header-content">
            <h1 class="page-header-title aos-init aos-animate" data-aos="fade-up">
                @ViewBag.PageTitle
            </h1>
            <figure class="page-header-figure">
                <img class="page-header-img" src="/images/logo/logo-white-2.svg" alt="logo">
            </figure>
        </div>
    </div>
</section>
